* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #f2f2f2;
  text-align: center;
  padding: 2rem;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.animated-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}

.animated-title span {
  display: inline-block;
  animation: bouncePause 2s ease-in-out infinite;
  animation-delay: var(--delay);
}

@keyframes bouncePause {
  0%   { transform: translateY(0); }
  20%  { transform: translateY(-10px); }
  40%  { transform: translateY(0); }
  100% { transform: translateY(0); }
}


.topic-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.2s;
  max-width: 250px; /* card width */
  margin: auto;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
}





.card img {
  width: 100%;
  height: 180px;   /* fix height */
  object-fit: cover;  /* image poori space cover kare */
  border-radius: 1rem 1rem 0 0; /* sirf upar rounded */
  display: block;
  margin-bottom: 1rem;
}

.card h2 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.card button {
  padding: 0.5rem 1.2rem;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}


.quiz-container {
  max-width: 600px;
  background: white;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 1rem;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.option {
  background: #f4f4f4;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s;
}

.option:hover {
  background: #dfe6fd;
}

.option.selected {
  background: #a3c9f9;
  font-weight: bold;
}

.next-btn {
  margin-top: 1.5rem;
  padding: 0.7rem 1.5rem;
  background: #3f51b5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
